 #ruby {
  display: none;
}

 #python {
    display: none;
}

#cSharp {
  display: none;
}

#JavaScript {
  display: none;
}

.well {
  background-color: maroon;
}

body {
background-color: skyblue;
}
