 #ruby {
  display: none;
}

 #python {
    display: none;
}

#cSharp {
  display: none;
}

#JavaScript {
  display: none;
}

#results {
  background-color: maroon;
  color: white;
}

body {
background-color: skyblue;
}
